{% extends "base.html" %}
{% load static from staticfiles %}

{% block meta_title %}- Chat{% endblock meta_title %}

{% block content %}
<div id="msg-list">
    <ul class="list-group">
    {% for notice in notices %}
        <li class="{% if user.username != notice.user.username %}text-right{% endif %} list-group-item">
            ({{ notice.created|date:"Y-M-d H:i:s" }}) <strong>{{ notice.user.username }}</strong>
            <p>{{ notice.content }}</p>
        </li>
    {% empty %}
        <li class="list-group-item">There is neither message!</li>
    {% endfor %}
    </ul>
</div>

<form action="{% url 'add_notice' %}" method="POST" enctype="multipart/form-data" id="new-msg-form">
    {% csrf_token %}

    <div>
        <span id="notice-error" class="help-block"></span>
        <div id="counter" ><span class="bg-info"><span>0</span> / 254</span></div>
        <div class="input-group">
            <input type="text" name="content" id="content" class="form-control" placeholder="Input message here..."
                   maxlength="254">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit" id="add_notice" name="add_notice">Send Message!</button>
            </span>
        </div>
    </div>
</form>
{% endblock %}

{% block extra_java_script %}
<script src="{% static 'js/chat.js' %}" type="text/javascript"></script>
{% endblock %}