{% extends "base.html" %}
{% load static from staticfiles %}

{% block meta_title %}- Home{% endblock meta_title %}

{% block content %}
<div class="text-center" id="buttons-ch">

    <div class="enter">
        <a href="{% url 'users:auth_login' %}" class="btn btn-default btn-lg"><span
                class="glyphicon glyphicon-log-in"></span> Login</a>
    </div>
    <div class="enter">
        <a href="{% url 'users:registration_register' %}" class="btn btn-default btn-lg"><span
                class="glyphicon glyphicon-magnet"></span> Sign Up</a>
    </div>

</div>
{% endblock %}